<h2>О разработке</h2>
<h3>Предназначение</h3>
<p>Этот проект разработан в рамках курсового проекта для демонстрации и практического применения современных веб-технологий.  Цель проекта – создание веб-приложения по основам современного банка. В процессе работы над проектом были использованы и изучены такие технологии, как Angular, Taiga UI, MSSQL, EF Core, и ASP.NET Core API.</p>

<h3>Архитектура</h3>
<p>Проект построен на основе клиент-серверной архитектуры.  Фронтенд разработан с использованием<tui-tag
  size="l"
  value="Angular"
/> и <tui-tag
  size="l"
  value="Taigu UI"
/> для создания интуитивно понятного пользовательского интерфейса. Бэкенд реализован на <tui-tag
  size="l"
  value="ASP .NET CORE"
/> с использованием <tui-tag
  size="l"
  value="Entity Framework CORE"
/> для взаимодействия с базой данных <tui-tag
  size="l"
  value="MSSQL"
/>.  API Core обеспечивает <tui-tag
  size="l"
  value="Restful API"
/> интерфейс для обмена данными между клиентом и сервером.</p>

<h3>Ключевые особенности</h3>
<ul>
  <li><b>Интуитивный интерфейс:</b>  Пользовательский интерфейс разработан с использованием Taiga UI, что обеспечивает удобство и простоту использования.</li>
  <li><b>Надежная база данных:</b>  MSSQL обеспечивает надежное хранение данных и высокую производительность.</li>
  <li><b>Современная архитектура:</b>  Использование Angular, ASP.NET Core, и EF Core обеспечивает масштабируемость и поддерживаемость приложения.</li>
</ul>

<h3>Технологический стек:</h3>
<ul>
  <li><tui-tag
    size="l"
    value="Angular"
  /></li>
  <li><tui-tag
    size="l"
    value="Taigu UI"
  /></li>
  <li><tui-tag
    size="l"
    value="MSSQL"
  /></li>
  <li><tui-tag
    size="l"
    value="Entity Framework CORE"
  /></li>
  <li><tui-tag
    size="l"
    value="ASP .NET CORE API"
  /></li>
</ul>
<p>С уважением, Даниил</p>
