body{
  background-color: #333333;
}

:host{
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 2rem auto;

}
.login-container {
  margin: 2px;
  width: 400px;
  background-color: #191b1f;
  border-radius: 12px;
  padding: 20px;
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Segoe UI Semibold";
}
.scan-faceico{
  margin-left: 42%;
}



h1{
  color: White;
  font-family: "Segoe UI Semibold";
  margin-left: 110px;
}
.password__container{
 margin-top: 20px;
}
.button_container{
  margin-top: 20px;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-container p {
  text-align: center;
  font-size: 0.9em;
  color: #aaa;
  margin-bottom: 20px;
}
header{
  margin-left: 15px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #4285f4;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3367d6;
}

.glow-wrapper {
  margin-left: -10%;
  position: relative;
  padding: 3px; /* пространство под рамку */
  border-radius: 16px; /* скругление углов */
  z-index: 0;
  overflow: hidden;
  width: 111%;
}

.glow-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  
  background: linear-gradient(270deg, #191b1f,#191b1f, #0097ff,#191b1f, #191b1f);
  background-size: 800% 800%;
  animation: glow-anim 6s linear infinite;
  z-index: -1;
  filter: blur(20px); /* мягкое свечение */
}




@keyframes glow-anim {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
